<div class="container-fluid">
    <!-- Creates card -->
    <div class="large-card">
        <div class="row buffer">
            <div class="col-md-12">
                <h3 class="card-title">Transfer List</h3>
                <hr>
            </div>
        </div>
        <!-- Search bar and buttons row -->
        <div class="row">
            <div class="col-md-4">
                <div class="search-bar">
                    <i class="bi bi-search search-icon"></i>
                    <wj-flex-grid-search [placeholder]="'Search this table'" [grid]="transferGrid"></wj-flex-grid-search>
                </div>
            </div>
            <div class="col-md-8">
                <div class="wj-btn-group">
                    <button type="button" class="wj-btn" (click)="savePDF()"><i class="bi bi-file-earmark-pdf icon-buffer"></i>PDF</button>
                    <button type="button" class="wj-btn" (click)="saveExcel()"><i class="bi bi-file-earmark-excel icon-buffer"></i>Excel</button>
                    <button type="button" class="wj-btn" (click)="saveSelection()"><i class="bi bi-x-square icon-buffer"></i>Export Selection</button>
                    <button type="button" class="wj-btn" routerLink="/transfer/create"><i class="bi bi-clipboard-plus icon-buffer"></i>Create</button>
                </div>
            </div>
        </div>
        <!-- Grid and pager row -->
        <div class="row buffer">
            <div class="col-md-12">
                <wj-flex-grid #transferGrid [itemsSource]="transferList" [isReadOnly]="true" (initialized)="initTransferGrid(transferGrid)">
                    <wj-flex-grid-column header="Date" [binding]="'date'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Reference" [binding]="'reference'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="From" [binding]="'fromWarehouse'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="To" [binding]="'toWarehouse'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Items" [binding]="'items'" [width]="'.7*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Grand Total" [binding]="'grandTotal'" [format]="'c2'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Status" [binding]="'status'" [width]="'.9*'">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <span *ngIf="cell.item.status == 'Completed'" class="badge rounded-pill bg-success">{{ cell.item.status }}</span>
                            <span *ngIf="cell.item.status == 'Incomplete'" class="badge rounded-pill bg-danger">{{ cell.item.status }}</span>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column header="Action" [width]="'.7*'">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <i class="bi bi-eye icon-view" (click)="displayTransfer()"></i><a routerLink="/transfer/edit/{{cell.item.id}}"><i class="bi bi-pencil icon-edit"></i></a><i class="bi bi-x-circle icon-delete" (click)="deleteTransfer()"></i>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                </wj-flex-grid>
                <wj-collection-view-navigator headerFormat="Page {currentPage:n0} of {pageCount:n0}" [byPage]="true" [cv]="transferList"></wj-collection-view-navigator>
                <div id="hiddenGrid" style="display: none;"></div>
                <!-- Popup control -->
                <wj-popup #transferPopup class="modal-content">
                    <div class="popup-header">
                        <h4>Transfer Detail</h4>
                    </div>
                    <hr>
                    <div class="popup-body">
                        <wj-flex-grid #transferDetails class="transfer-details" [itemsSource]="transferDetail" [headersVisibility]="'Column'" [isReadOnly]="true">
                            <wj-flex-grid-column header="Product" [binding]="'product'" [width]="'*'" [align]="'justify'"></wj-flex-grid-column>
                            <wj-flex-grid-column header="Code" [binding]="'code'" [width]="'*'" [format]="'g'" [align]="'justify'"></wj-flex-grid-column>
                            <wj-flex-grid-column header="Quantity" [binding]="'quantity'" [width]="'*'" [align]="'justify'"></wj-flex-grid-column>
                            <wj-flex-grid-column header="Subtotal" [binding]="'subtotal'" [width]="'*'" [align]="'justify'"></wj-flex-grid-column>
                        </wj-flex-grid>
                    </div>
                    <hr>
                    <div class="popup-footer">
                        <button class="wj-btn wj-single wj-hide-ok" style="border-radius: 15px;">Close</button>
                    </div>
                </wj-popup>
            </div>
        </div>
    </div>
</div>