<div class="container-fluid">
    <div class="large-card">
        <div class="row buffer">
            <div class="col-md-12">
                <h3 class="card-title">Quotation List</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="search-bar">
                    <i class="bi bi-search search-icon"></i>
                    <wj-flex-grid-search [placeholder]="'Search this table'" [grid]="quotationGrid"></wj-flex-grid-search>
                </div>
            </div>
            <div class="col-md-8">
                <div class="wj-btn-group">
                    <button type="button" class="wj-btn" (click)="savePDF()"><i class="bi bi-file-earmark-pdf icon-buffer"></i>PDF</button>
                    <button type="button" class="wj-btn" (click)="saveExcel()"><i class="bi bi-file-earmark-excel icon-buffer"></i>Excel</button>
                    <button type="button" class="wj-btn" (click)="saveSelection()"><i class="bi bi-x-square icon-buffer"></i>Export Selection</button>
                    <button type="button" class="wj-btn" routerLink="/quotations/create"><i class="bi bi-clipboard-plus icon-buffer"></i>Create</button>
                </div>
            </div>
        </div>
        <div class="row buffer">
            <div class="col-md-12">
                <wj-flex-grid #quotationGrid [itemsSource]="quotationList" (initialized)="initQuotationGrid(quotationGrid)" [isReadOnly]="true">
                    <wj-flex-grid-column header="Date" [binding]="'date'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Reference" [binding]="'reference'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Customer" [binding]="'customer'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Warehouse" [binding]="'warehouse'" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Status" [binding]="'status'" [width]="'.7*'">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <span *ngIf="cell.item.status == 'Complete'" class="badge rounded-pill bg-success">{{ cell.item.status }}</span>
                            <span *ngIf="cell.item.status == 'Sent'" class="badge rounded-pill bg-info">{{ cell.item.status }}</span>
                            <span *ngIf="cell.item.status == 'Pending'" class="badge rounded-pill bg-warning">{{ cell.item.status }}</span>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column header="Total" [binding]="'grandTotal'" [format]="'c2'" [width]="'.7*'"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Action" [width]="'.5*'">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <a routerLink="/quotations/details/{{cell.item.id}}"><i class="bi bi-eye icon-view"></i></a><i class="bi bi-x-circle icon-delete" (click)="delete()"></i>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                </wj-flex-grid>
                <wj-collection-view-navigator headerFormat="Page {currentPage:n0} of {pageCount:n0}" [byPage]="true" [cv]="quotationList"></wj-collection-view-navigator>
                <div id="hiddenGrid" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>