.wj-btn.wj-single {
    border: 1px solid gray;
    float: right;
    margin-right: 10px;
    border-radius: 15px;
}

.wj-collectionview-navigator {
    margin-bottom: 10px;
}

.icon-delete {
    cursor: pointer;
    color: red;
}

.buffer {
    margin-top: 10px;
}