.adjustment-details {
    width: 100%;
}

.buffer {
    margin-top: 10px;
}

.wj-collectionview-navigator {
    margin-bottom: 10px;
}

.modal-content {
    width: 600px;
}

.popup-header {
    margin-top: 10px;
    margin-left: 10px;
}